---
layout: page
title: "Colecciones"
description: "Street Colombia"
active: gallery
header-img: "img/gallery-bg.jpg"
album-title: "Street Colombia 2012"
images:
 - image_path: https://lh3.googleusercontent.com/1yO2Vy_WZpBMSVyQ3kVXb6AS-fMSNXT4BSw6No6WwQIlp1Pw6dqUHXpfXB7PiJmtmyQYTorbCXVFxBqlqZE7NLttd56Uzxd_OQE4bBdiWOpQCyw2QcDVt38zQ0O5OoDMSg26Qx5t00JyJG6m1Wo1vf91CsXgbmiiTkL3qTpuXS8s01gqBfjiqlaRwKnZtMA2tPPC5pnH3T1bZPrWgbdht2aTfq3xmpsyv4HxJv90Y-4UvMejTS9MZMhyKs5G7OwPTtq6EofoiuE9joOfKSBSDnARKc-SuCUZHRxCITEfGbr9gmb_Xv5PkBFm_CcihJw87ebpIHECLQ5FlcTAr-gZ-f9T0EJRQgDsBdvfAxu-1nL__3fxioNZdO90DG8RGYBcofZutoXb61zS2axuALX-E-0TO_zX6_eLhiv8tdQ72X2z4K9yjVo74oecQcYKy5M--dZqdhdVdEUOgnh3EbHj4l_MU8zTiaT9gRkymbeUiE8MfY8GaFAUiiReMKy5k8Gg3k5jcOV-QkW5_LqTZYoRhB4Ii29hGDQGKOOW3INCkBV7HrZHyIDWct9vJti2-cFLWnJhaQS_FcvhYadTBH1ZrxbZCd5TMA11CLZOfQokXJplNQ=w463-h693-no
   caption: Malabrista celular / Cell phone juggler
   copyright: © 2012 by David Hernández
 - image_path: https://lh3.googleusercontent.com/P3gFn-TYdaLlJOj880rnbYovTw4f7PCBU2Ip8IsfLYqJLYqz6Mhoj2PTdz5D0qbsTvDnc-19uGjHLShfl8-qgDok0kX4cVHhf9RZerMuzstWr8ehqNgeTrfJbY2SgDCJZCBTAzmUOdelF3stj-SxIbooNdvuhtuRJ0P8b8PMwtUOyGhYau5Bt-Nkaf6FImT9RDfsMJ_jYWpsFQiqNBiROjWxthv8Eykd6r1z6X4v6MgUGTR-thzVP3g77CucFGXpxPt3lSQCavYq9b_I7T4_eWpQYZD8e9H_T1kwyuU1Edr0n2csoAeI78Ye42TBC9KTNLaBP_7pLWiYUZfqBGKA-1AZ9Wm4HZ5z-dGMg84z_0lHYWyJi_typuJtIZ24Gck96a6RplIcKZEXiriydJ5S48tqDO_rrWVFQR-X-VZD3QF4aie0-9ON2cFP3JC7Es-u0cbio-7_muYZ_v8wzcaAHCvkmG2j3DKftZLHdGMqlf8GfkOIkNFQkuhTqRG31Ff_vHDzx0aF1ljgOeLSxR2dohS5aJwnxxgNLcoD8PPCHQOhFpCr7ENIkRWfpn9gMW9X7DJ4S7Qu0L457stFFkEkI8qs9tJWXmoTUhZUcTW1H7GMvQ=w920-h617-no
   caption: Foto-Llama
   copyright: © 2012 by David Hernández
 - image_path: https://lh3.googleusercontent.com/RwL2u5Jolue0YC9SumIv7HNvRXEr0T5SDHE29jl5staMwBF738rndjs6HQEt_VsSEY8yMmtFmAL316LQDBj6pjWSB8Yl-rB6U7JajrFFpU8KgUH5XT7OSxQNaw1c5B1GitVQA0yqVJY3GIJSTS35vNSrNSvZas6zS7_bi0MJYf-TJ4TwIppxBPKCQoJsu8cxaf0HzbWOT3QFLZJLy0qllKpM_i3k3jtEOyTYjhrFCGtsuHVSWoNmwwD7gsvDAcsUqGpoaGeoKCWUDtdGQ4s244F0nNDxeTtBgHTCjs8z_AMhG1AC0qqPpXj10uZHXFDJSU7cO5fnZYpe3vU4yNGySLMDxM8A4zQLX9RAcsfRBlljXW3SP9aKe8HKAAvlOnb-e1l3WVgaH3paFqgrMNnCop1yVG1TeVJe_4eFzEDchlUYXeG6QMmO--JRx-13xby8vnKQkhoEBiS6gcvQYLz9IvJvCn2idQdtLfIdf0hdb0QG0NkFDBsrPugOUM42g1wuWLK0Nyp0eqdmWhb822GYwNjWlPwfsDPmrNZjlB9amceHHpikwuIHwhUQkSzRmYlWaQULnUrmSkGHGJK8whWzVGLWQ4XkaeMsx5zT9UNE-FVmpg=w1035-h693-no
   caption: Mirando al Monserrate
   copyright: © 2012 by David Hernández
 - image_path: https://lh3.googleusercontent.com/WIKOc8U8LvcAeNb802hbuqxDUZKncjqM3K1yIwzVqlSU3jjBcfpV2dWD9lFVPEa7Czf-WjIEvWK2K5EQsoJ8crBKlxF36-XU1jLZFzeaLh2on7PhGBVmTJ8edVFZKtAFRVB8btLBSwUz_Isn-Z64BA7aZ2IzUbb1_irKgLXvWynAQyRxMSk0qToOddT0qnsLPn16bZDOX5o-wiezGu-2Fdy3MfEJMUD5bqCvx5JKiK5BdD3Ncyi7kYyK_LLV35uF_YcGw10TrHRPUz6IUPhinmJfiMpnFZdqhfijajz44TDLTTreLJ7BZCgqnxu-f_x86UWWwcvpU9O6mU83DEGvdkBR9PGz1IZksOLpL9fWrk1SIrWiH9M6zA6F52yhL18GkPwGodcgmknUn6gUKH-FS-nIu6j1ZatsvXF1rV1BiQlebNXlXCSpS9Cf7gYRIa-NwKX1XUqOLLfcyvTybN-9WVsVK-p2UxSOcF8nRLlidhd-mbc4C0XnClOCvmqOay9nmkOlSEpTOhUfEE5og34ngi1QunGMgWhAAM9ahK7uNyYggfzkmkGOsk15aJTmROTjWXrbjjeaD-TmnlKEb4NkLyMKdCr5eWmu07pYkO--_SThTw=w1035-h693-no
   caption: Skater
   copyright: © 2012 by David Hernández
 - image_path: https://lh3.googleusercontent.com/IB_MYfBZi5bLbb1akPGIbB5nbfWprBeQzyXbS7Nu_to6VfbhJHu9V8n_1Y0HAtHF67u6_2f7pQvhvOMrKs7-_Qm7GBgqIaDnze12PfIYSBnu3VQB-X6I1u70B4Fm0yzNot4n5XUzafJuYT1Ty3MD8i0ud2o-PXH09oz4mNUZXAbI7SEosgITFRfoTZOmQIO5fHW4pnIqbQawkRsFTBjV9h-w-fsKZw8USqfCFsqEv29WaI9BUkz3RHAgTgwW9rmqKaKRLxUDTvYQSlb_f1Q52jd7PPwpl3kthwdJ7SYgRgNFbxhmezrT5eBuwUKbbAIPCNGii-BZJ6wFVrejft3xLyYv9Sso-F7vrKSw5mO3ZjPqxhJlBSRtg2Ea55it5ERz1ia1QcP5aA3ZzjygOQiEutvEWglNQGdb-Ku1j5qvYIn15T0ALqo_x8ZNU0nUkauXv9Ceo6GQiYwtQ6q0e6Kr1cKvpZl23MMESW2xCE9ah88kqQhJzWLq1eXAY45Cou3oYi3Y7pXf8CvZKcSVzU-VqnwNEtlmzUn_WCGkjAoCe6TmJKeIq_mOUoYU-4QafHEtWgW1S7a01qMAg2xdTQghvifCyZHGQRQKb1CmRpO9hoeQwA=w465-h693-no
   caption: Skater
   copyright: © 2012 by David Hernández
 - image_path: https://lh3.googleusercontent.com/R-lcNTkhSCJDmSfB8ncW0EtsTr0CooTZwUWNY2lalY0AlJVWT8-dFR26Ha3m2QweyK7d5NaY5xQKcPWEgmcLK7udSLHx-si-3VEpVUEwFTTkOPoZlIsog5RG531xr07onfUuoq2Qk8FlsTmINo3xxmZiIogv3ZnWrBBJmN1FSmr8vktdIIakeWttj2HZkVu8MyAjFD4IieMwRZSaU36pBijqY_LWgwjcohLku5uN8QkrIyIKrgw1LFLVJfgi4f7jIye4Cl-TdfaXnc7_bXExpZe-d0lEGB71mpzexZaHWnF3udkkqFSzrCl2qbgxLoAni58lQlEcpzoBFYvqxfHm97a8TVwxwUlcyKhOfaAekfjCrdveymWWuEcjoaL0PV5MVLt8b9kQnS7hoRWopkvmqyf3J0l1DdwSonAE1l_xD7AWgg0pBsth8kU_pcQktGCZVgbdYuJ9p726xRssHOBkwtJOaNNwg2qAgCyJ7pNmA_yyEtj4j8Gz5qSUBUeHIM6OwW81sR-owv2ycQxsTa3Ehu5elXe9RjhevbIliGY8ZjrEXsX0xQJ3mFJQoz7-YbO75gjH8Imfn-6ouVLyJ5XUgoF-xODz4ZiJ2caDsMuTQ9VltA=w1035-h693-no
   caption: Zona de banda
   copyright: © 2012 by David Hernández
 - image_path: https://lh3.googleusercontent.com/kIlncsl79nUUZB5sMWKw2d7Fa1fY1WamldKnAqXSDuTLozqfHJeCBFDkBo2L4tIqh0ePXuaobXvpoIEL5fmNpcuwQz6byjiALWH-FKrWlpHKDZNVTTNxHQcK0jFnjDSNnHynpgFIuVx4XwcMUSWTQIKBNYaD44Q4WSCK9DV4pJHGmD0k0EY27ZYyjL_BYW9MMmGKyoSdrfpcDIoYppI7Plrog8vYeJd7RvmRl_PFZWCTwC_sVkupQlFESXzlSPBb2uWmB_UbRdYPVGAsfbC9vGsZCekFkbF9ElkqpzwnJFduiLFs0LZShn-oahUxXCnfhiIpiLyl3mo0Dvf0MaraKteUq1Uxt7onEP_WRvlPdSGyQqTVKDjiBEPRfnv48zB8_h3yJVyUzIyGbJ5svtuLtUchUfIW84e0uDXglnOsvi10AAt9WfmkmfuwlcNDR6ncGsxI3Ls9qpi-CQJaxNiaQL9TBf1RpdTcxH_JdkDrqN66hQrxxkPyh-m9eeiLEzMCAK_iPALZElNqf6plxBPFx78r3Or04UEMgwsiFvFP55z_Ca39fOERjWIxL0yuBstyXr56521MDF5SqZ9T22m01szXlVOecnjLbJ5EdeaVW6nbUA=w462-h693-no
   caption: Green Wall
   copyright: © 2012 by David Hernández
 - image_path: https://lh3.googleusercontent.com/VOAjCtQszZ9D2h7bOyfFxPDARNKKE-TUjxj7Xy5ZFFI1I7llwJbPQCOMSjdPv2TqKO2pNbf2FKPa7gSG0T9BqqRr9_DHzdCPDtIPhM8lLrWDbotRZhqnM3BuOjgnImhBVuPf6uGnqm82DBU_yFFUIe_nW9Xh8r95IlYvIEIiVlYKRN1rXO1ObQKlIFb-gKw3YUKErTxx-YtqzX5HyqosC3FGXKufHkg7em0vW4sQxSnOMPponP7hjbXq3P-crNVEXIM6OafkVveV909giUineAQyguBrJjPaelV5YncfAgZqEo1QIHih__FUjDbydtOhDfcgpzAvhf6zNe3QGPNCZ8ALvAvKoaKvj7QYY9LyBpeMHv0nDBPsdtHCRpnqMZiMYjbzYAq8OlGt1GfebaLHDsK3nLME4mZYgPD913b2jCzIV7PXA87Xn-cQ_8giij143-b_b8Hg2bd7TItN1vtyfySYckMyWR81HcZtkw0bnpXyTjjCuq0pHBbJbkUanTeSLQrzCDVuXqsK7y10Xw8WdbJMnJRnKi7nOplGq8z8d9PVupyUM5lC-eHfVWQgaiyKKy01O5UtWVCXHOXENvhTTcCfzLg9Pv5dsrc-1WwzW42tnw=w465-h693-no
   caption: El Muro
   copyright: © 2012 by David Hernández
 - image_path: https://lh3.googleusercontent.com/nsWkAezhnmLM2onevsyTGDSNhEVOihqN_5lM0TPcfA5NWlpH1L9XYiLJtdPy4COdfnxjqjvz_UeOm0JvMBDKYPCCuXBCt15cNTSVi3a3IfFqJ17ZIHJYnqfNNVK1qA2B5dl5NkoidyVl0DnbIrHCLPfboGL_GbWgSN6xYJYKTetblbZaGPKyBPhNUwyhpRij8DTWkx3WHFGBFFOdgszNIZtdNhpqg1m9KU5OpNjJ7nLqpChnBlY1PDQHHnWIdIM9QiiKbJgZ5BwidvEK3dHK-CbhqHejkfSB3zfC8xpbI4Rz92nv_jmFnlCwfnYORrmT0QCSUZN0-Ntph0O_ng0V8-ArbHR91RJ5aklG4M_uil1pKi4wTsWcxh6-UsOh0enxK0jSawjoaX92r7--zglpubZEAfPhdGbFxMTtjGaE4hTHNA0ytaC9MDZ9R3XCwBeyOflDTvxPTHGUf_Wu8sK5HrxW6t-svBKwVwAhFwVM-cbOAvlCZ52A-XY86FCqpKpEaBkjsg13Y0k55Dv2eCaVKLctkG0t1FaCsMLkwIp-N4-CnfcZ-neAY8s2kuFXW8f5vUf1Z0xrye9JOSfLeuc0ZQ5uZx6W3qctZAOJWqt_6q7xKQ=w920-h575-no
   caption: XIII Festival Iberoamericano de Teatro de Bogotá 2012
   copyright: © 2012 by David Hernández
 - image_path: https://lh3.googleusercontent.com/Gjsq_q9LKz6fA0wKxKTxHEOG0yCach4Vl-EvgpccSXN0bbdA5PVqzaYfluIxQq_wOGBDyjMGjWNM4boYJMyqNyYBk6XIPNhSYIFgX8EhrWwOxZw6Psk1u6wXwZ_Gzj-2bv8UbWcGE2WgxMuf7O6MZpCXj1lmbd3ad1neYPiQNGxHs6QkT7DHbx3YL8QZD2L6dCwL409zueVtrrCoDDoQeEL7ZVMIxQCC9Rktyiewmnfc1_4fzuO4aww7ttH0EA7TxEYi5YhbPbXMYXtir8M25yI2m-hNyQV-LBtoKj349BQO0PaLOFkFWSEpTYv_r8ywpOgaTeOmbK4zHyyThBHfBb5sFNQvCO_29wchUqUimCrWlb0_LWIg1CsgBa55ApwY1-2wi19a09yhejAU-EjHMYpSYNbjLsaUBNvz4r2GDqsviU2WNWC6offQvXeqZqrxt3EqxiM3H1vI7aswMTAHwYZncLa9jpjROzRlagZ-Os6gKMJBXvJ4ezdPYN-sGPzHdrPrr6fuguWNlCI2SK9e9nQZ3chudrieDZVsyaBtlTTqz9BmNXx2pOv5wYCbFOdOadCO4HPH7K8OQL5WjoXpkHZ0jtyMpjalGGuVwgsfRPMREA=w1109-h693-no
   caption: Niños jugando
   copyright: © 2012 by David Hernández
 - image_path: https://lh3.googleusercontent.com/ANs7jfKNDLvAv2Am8GGUEn3a1bvW4QlNuzm1B1COj6gR6YgAa8aivQEYeGbzJN2uh-203eQ-6RCEuj0Xat8eTyibBsEPSj9YPF9zQN3r4H2N0OiBXvoVoxf6jeMWJbDEaaDrT2_cwhd4-0XWNjvub0IMLQHaepxDp1HELu2TnFA0-cebMWbTs7NTxv90mYVCqF7B4MYUmqM0NpsCH5y--OUOR3DtUmXR9odKBReZh3xcoPdi5jZO2iJvqK3oQHn4I79AHG8bsEb20KZitNMQHD56bBeyD59mFk9zisSaHXEVkZovLLy7wOTH99mIuYCuEaICov5_jYJV7wP0LvInJ2tvlBOt4zwz4fNc08kRZQgSKCUNj_zL524dGZpFR4OJGlSJRYDpdk0gpf5QLI1eqSKxEx7S87fE-U1vCTwwCbzj_bIcYx34oxUAzRE_aoBAZcHQInhyGicMpYBksmxcq9VeXkur7oBxQ6U1CHH96Zp1Sivw2xDAONRbgODiefFDE0jSqKVt1lTi9sU5SKzHB1jhT8n04Ba3IkflRXhZoexa7Ebn08E6QHcukyIeiVJw7vCBX-rCGsMt7ztmSgdVVLCfgzou3I7TR5hirD-xHoiLyQ=w1035-h693-no
   caption: Pequeña desconocida
   copyright: © 2012 by David Hernández
 - image_path: https://lh3.googleusercontent.com/Ha4MxcfLu6ssfOevwn1ILxzEVxE8Z7485am6WMUTHiuowFDlKXxrqA2UX0NvKbTZ2vV_gB-PcdzSUHtvDCUHe-XqU0f7uKzZtUDVP42fkIMYyIsKgYoABx4UWClSww95TjCniLOyv_6ZvqVwSKtMAwTSZg14NgTP5a_78-6BrzP4dpfl_c_XB-WmvmPkLjJjWg8a-uIpUK0NITDml8sJPqbXTHJloPuu1ahnIUqfAP3qfHFP_HIUt8ybC7Mt9E6jAf-PbJD9DYJSDqWM9pL9yp_z7KncdSx4oPUO6bJJbr3qNaKrMKYANk4NWD9Dgw__DVqE9NqDNQHFMgeChGFVQ_nh-DZf2yyBuv12VE7D8FUdo1_V7h1TYTYqQwddIoJ8TtbcWHlS77q4nKo1i68wolrJGtq8pCJTEPdMdha_u1aHbeUr5DVOW6Zis5GKKYCZ_Osbm3gUmeIm3G0SEUeCqBsoL7c0ZT2YL7evHrji5Tnez5KpNATS6D-cxhbOGZ9i96Ouf1ELDZxP1lnCig6NarWs_DFJFd2_1-YnPc0PrQgGNAinqN3SvFmWNCarQ6Q0c-RHyRWFx6DfsM-0JZmHyBcpnUcY2EnhXpk1EDKUcRLY_w=w1035-h693-no
   caption: Pinta insurgente
   copyright: © 2012 by David Hernández
 - image_path: https://lh3.googleusercontent.com/VOpIZhMFIWnslsruKxbMJgMbHyDEQhHQfpIL3Jl22q_CBl9IVexFHxDleBAVTrHbfLXWpVladuBqh6Ic1n0h1oKgzpq3M0Id_HiH65wa6db6g4gp8ZFudcE2va9WTueK1O3G5Dw2iAUfZlbqh49kFwBVEcfkO-SdRsZHrb8CbxAxc7l_RWhdgmjPGamZjwqztdn8Z2ke1UVE4chlbn-5g55Q--eNFEHzMqgO7bRQS8qfTgw_oAATkl9k8r4HgPV9Q0Y3_uZx2M3otbwP0sM5fPulx8nNrTKUajGAVWi0bsgHbrxxF2e7B86yIgJljvdEC8bfOGuDGDDH5jxQNy2ReksDVmhK-03DIBnTllO7kPDi6N9b4e3o3jBkWmI1vo8gx5nXEfHmOfRcjwnEuGrNlUrBALaz-9ZBpOH8zsCP_7_tl3w2XREfO3mqAY8gVh0qYOJw36_NjCR0WWaXQprPfvAxOpEBL0Ru_pidEnKApu7KwzHw6DrU3q6Un2fGJKvPgTDfif_ltwyGaLnPEzjEQy1WVkrsApqMXMuZOOI4lIylVCaW-J47zgOjqhivziRspQMYpFW86KZR5FGXcJlw6nLxLRr12kVP8uoVXnaqHWB-fA=w1109-h693-no
   caption: Dios bendiga este negocio
   copyright: © 2012 by David Hernández
 - image_path: https://lh3.googleusercontent.com/Mak8qgr_1-eb00-wb_xzc_1xA9RgOXdFlnxFTkwQrkF0GUW-rfXunBieDJCDKLeXOrkgMR3fmbBfvZrOCU132iDyjvLqopPqAgKU7jmho5TCNqWPxfxLt_qa3iOjTCxuEYujpPvtSlvQCdcfTvyHjlo4WVhad8nApacAEE5k3MWc_JEkzqxsBHCwbPeYi8msWGeprHz0uqPqZNdJAvSQ5tQFR2LovyUwPkV6VerFaf08Dgb1rFft2BRaTwYdbDV11ZdYc47eEsPX5ckX-tX5KSXstZMrnzWmnE8zw9dYRJbPmy8m5wRAQsTF19te-hCXkC_9iBWXoDGKODSHn5zFjYl3SUDf44_Y2hfu7uXtKJysyTf1p5X1iC-cU1ns75XwV1tyCPlhq7wzjMqB-GIIhgA9X8CJQTRzV0MOmrLN-I_bIfCQvmDdwOP2xRiONkuXVB8-9vPkKWZgesCpe5tvZ2o6UUumPnclvDZzJW9rSmlsfcyOCMA6uDJJMEU8O24hkJEgMNKNkVefUAypbDmNc_7JW8fNIpa5Tk1XKgQM3q2FvpsUG2INVbxEg_esdSpFYF3PeWu3wXime7miQSupRty9YhbO05thMI_wbOhb9sU41w=w465-h693-no
   caption: Fotógrafo fotografiado
   copyright: © 2012 by David Hernández
---

<html class="no-js" lang="en">
<head>
	<meta content="charset=utf-8">
</head>

    <body>
 
	<section id="content" role="main">
		<div class="wrapper">
	<br><br>
			<h2>{{page.album-title}}</h2>


			<!-- Gallery __-->
			<div class="gallery masonry-gallery">
		
{% for image in page.images %}  		

				<figure class="gallery-item">
					<header class='gallery-icon'>

<a href="{{ image.image_path }}" class="popup" title="{{ image.caption }}" data-caption="{{ image.copyright }}">
<img src="{{ image.image_path }}"></a>
						
					</header>	
					<figcaption class='gallery-caption'>
						<div class="entry-summary">
							<h3>{{image.caption}}</h3>
							<p>{{image.copyright}}</p>
						</div>
					</figcaption>
				</figure>
				
{% endfor %}

			</div>

		</div><!-- END .wrapper -->
	</section>

<br>
<br>
{% include signoff.html %} 
<hr class="small">
{% if site.share %}{% include share.html %}{% endif %}
                        
{% if site.comments %}{% include disqus_comments.html %}{% endif %}
                        
<br>
<hr class="medium">
<br>
<br>

<!-- jQuery -->    

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- include image popups -->
<script src="{{ site.baseurl }}/js/jquery.magnific-popup.js"></script>
<script src="{{ site.baseurl }}/js/retina.min.js"></script>
<!-- include Masonry -->
<script src="{{ site.baseurl }}/js/isotope.pkgd.min.js"></script> 
<!-- include mousewheel plugins -->
<script src="{{ site.baseurl }}/js/jquery.mousewheel.min.js"></script>
<!-- include carousel plugins -->
<script src="{{ site.baseurl}}/js/jquery.tinycarousel.min.js"></script>
<!-- include svg line drawing plugin -->
<script src="{{ site.baseurl }}/js/jquery.lazylinepainter.min.js"></script>
<!-- include custom script -->
<script src="{{ site.baseurl }}/js/scripts.js"></script>
<!-- Modernizr -->
 <script src="{{ site.baseurl }}/js/modernizr.js"></script>

    <script type="text/javascript">
      $(document).ready(function($) {
        $('a.popup').magnificPopup({
          type: 'image',
	  gallery:{
         enabled:true,
         navigateByImgClick: true,
         preload: [0,1] // Will preload 0 - before current, and 1 after the current image
       },
      image: {
         titleSrc: function(item) {
              return item.el.attr('title') + '&nbsp;' + item.el.attr('data-caption');
            }
        }
          // other options
      });
});
    </script>

</body></html>
