---
layout: page
title: "Colecciones"
description: "Mucubají Monocromático"
active: gallery
header-img: "img/gallery-bg.jpg"
album-title: "Mucubají Monocromático"
images:
 - image_path: https://lh3.googleusercontent.com/uG-cnQYYZMkPXI3SCoMwCeldRqaKUFK6b4NV7n98h2M7zHSs4UlE13fPOimvZvqRVLpZbkBV4rQCByef2JfHWqNfZhE1comokon22RuetE5dt5hWKkTgEWmomcFZZzRYdaEtlwzGpEYBcjqUBi4ZS1Ui4aeQ9VfQ3Y8VZv3jBMKyXcS75hELK7L_R_DacmTgMIOTCZnRJTvLNJpPGpgN2ziIn5QwhIy6qpTqnt0Camx4HhTshQaXRV17kvTgnahR0pJiJbRBjw_pG42jOAOaPl0LBbCBevQbozy7JB7lVBF1Z0wKbprjC7YS3vgE9KIPf0C-XtE_-2PA-SsrKMU5-wZvfhKjefKFbJCj-47gLjHLgY-Var4g0MdOhsnDW-qe5Q9J5AT2Ful4KewFjFb6sr3Xr0u4afFdsDR6UAfEJd0DivHXsPb6VqDpgo245isQS6cOhhCKGDj6AoXUOl5zAy1mke3_BSoQPxmTwmOMBI9CkMNokfKXlbkNYZZkp8ZvJX_1O66mD7zopW_0A75nvjS73-Pr7BFybxdp41c8bTWHI3-qUlmCJeJa79OfUuRqJXJBD3rwI9Mcw_27Lncw_KBuFdWOOw847WenTU5ZgOU3hT4tB1YSXNNs=w1026-h687-no
   caption: Laguna de Mucubají
   copyright: © 2012 by David Hernández
 - image_path: https://lh3.googleusercontent.com/dz5Rcypp-OoZ7-XqA-Az9G6lfyOARE2DAgjy7ZwQ7gXUsUnTHKcsOXlRh1BZUI-JEixXltrR_RzKH7Fm4wjjkATpQS1smFgqeQKx8_pXPdYHMLchykQhkiABxaX6oMqrecRgnuecmTN_sRd6DVAudQ0Ac3SUbMzjY7KdIC4FpYOj2-NYu7Qd6LHny81ijEw0WK-GaE258MwX3hLgladTKiO8gP7UHBJ4Ee66GMYbh8nkiOYQaqIdmJDrkOO9WnFz0ncZQisJcct0IMAYiHs4YZMtP5n9sPVA-M7riZyo9Kq2b5u10nU_9-q8UMqLbi4Pica9PzShGZDTlV-FllYkLOE7W-PW6G-Mss7gJGYcNMnXqWz2OgWOPNJ-XdrF9qPXny4CJvETSMy6fDpY-7pLEScbvxVXhYC60_etjNrdgBEU1ykhYaPiUqD7NfLzDZ7OVC8PHeRQH7JzFUmUTb8IBd4blE-bb16RWbA1wGX1aO4UcgPVMr9-0vRrsVdd2ug2kDoYjgMLZVDaWIWgh9ZWY4NWSWoyFLqCOYtUkiHxCc1n4MRSah2_aZd6Mw2FCZ3MfAH3ut-Eil7Z2eOIsLG1w5BJw289IkQlX2EhUstQuk08MPljhjBVud_u=w1026-h687-no
   caption: Laguna de Mucubají
   copyright: © 2012 by David Hernández
 - image_path: https://lh3.googleusercontent.com/AgWJeEf6EZVXw1RetoArz3V4klRh_Tl1Kzzhv_k7SIUCUMSIg-xeuSGIsbHamnh4Qnzf2PgAcvnCqkTcGptc8oKhvTlDwDz-YeZY_3pjssnVXE_eJRJQm8pIQAkJSzniw2fl_Qv4jttAY3xiM49b24-06FyTvGpcclHMkibUbtb5W_o5nQUyCTXzuDHCTcZJM8QSBAD2tHmJri3DvALlWZq_5-dAwUSpx7JlennBgMPA4lMfyRYGSI9mU_1V8A4XGvvT646K8EjfjnoZGO6xDGSQD7vOTRgSgjs4v9jR6XjJ2h1L5GiSLqHWGg9oKSUlxHz3Mx4R6Ovdq6UHvGtIKvAY_9d-F4MnJurvE5wQsn88YG5Xr-LttAUGl0Q71Xl6XaOnL8Q40juhmg-fTQT_vuWUAaatxanhwRDzKNugwUOUEKTIM-guDMVUFrOS-m7eqsMmQT2AIgL6h5KT3aNfXg6jPpJKiZOthHlBz3AWM_881C67Bm4dv_AVJ4z8zb7Uega-W2X1g97ZEvUkhG7zfOxRYJEE1gE4U3u3DspO7XqpWIVGVJLcIt99TXD7R1-UqILBlfbd6F3Bs-va2jTc-k5W02C9LUiw66frkmhZ4qZlgvDFciWdVByl=w1026-h687-no
   caption: Dock
   copyright: © 2012 by David Hernández
 - image_path: https://lh3.googleusercontent.com/yq04isdSLRf1HxTPQmm9aVCaacz0ieWHye0KB0eTzXBFI4FlIgS3KFmwaRce5VQl9nZ-m2BmZAa1IKmq5oX03yc2pH0e6tpHO1lZdmbKsM3SfcJYbEr4PjmQEOjm1snPOVTjcmNWiserbcPOk-PPMAgWiGtyyt50RLmqgqFWxJGyM0v6CuPKMMGVCrPNbhrXceG7mDAq6Why9BKcPqVLtQElrnx2JYxCFLAzlsjmGCMIYcTTquVfr1LbgJQJN6tbm7-27qgJohj3I-ShpiM3f8xQ-c2QoKPeO6XzVTfmTVJpy_wy2tp4LVeUTw3c6FkZrjtjNjgAAGO4WEvaQ4Pe92y76HVQ5hVduU0EixEK3Kq6nLWWq2ytyAM_7c01z_AM6jeq8K21alik1BofOzxJHtMQsOYRHyOIG02RhdB2ZQnU0vMbvwCfMFDUlprWZkBWbBjoIIjaZWNe5pYz-cZIilDK-77a9uB8cUJtkScszEOVqcltcyBVwh8Zck69-hwhkyDA8zQfSepUPe3ek7QB0Vz2RlqZY7tFa-hMzLvMcLeTI6ItFY8nX1_UM2tiW7wET13Z5seSrUjekk_fiwXKV0H7u5Lb_aps17Q3WYg-jeV_6oAG5G5xvVs8=w1025-h687-no
   caption: Laguna de Mucubají
   copyright: © 2012 by David Hernández
 - image_path: https://lh3.googleusercontent.com/SdpUju-ByP0ZKuzwcUBmJiBIO7GfjsUgCMCgHVUTUo7otuGWRkHLg94PA3_r3m1QZhEvEJuCvLpLS76LSnq-aLGANMgpAl3-_e-RnXbzT0eQR2_Y8oivnaFQ2t8A2zHwLx2-kascipLokMslEK_MMKUmKQy4KT40Jrpt5CQpde78OYOc9k37jT4HdyLav5G7i4z-UTHPkH8qrm_ibKd6laftJZuRBHbT8145QyD_byCP76Sb-QSkSj8hHmTeQFWKTjQrCxYrh7-1jB7hd0SoACLCAxy273YXDUiUWo1UbXmfg7IdH7e99_DACXmEB33iepjVAKsE-XA2bPuN8pWuCt1h_eHIOZSZFaMHe0Ls6hszAfD7icTboIVO7hDV2oGe-CSpDNPbxS52NFx9Ws2e7s1B0f5YLrDkRu8_UWRm8nazegMtgtHs2UqlBOJEGkIKiQHgltsv-lAPI0i0Nh92q6GmbkCdMqKDGsfU2q6BI8QBg2XLRVnIHY8P83oSYEOGXBu20yXcWdxL3YKJvXOcPIqlm0j94Kr9wEjLseN-pA6FPbfBb_qVK42c2S32I_WzwnaBviOEGiUErjCxPvLDZvTE0D0sn_FneUQ7Gnj_QMpHH_3FUJacd-9i=w1223-h687-no
   caption: Fotógrafo
   copyright: © 2012 by David Hernández
---

<html class="no-js" lang="en">
<head>
	<meta content="charset=utf-8">
</head>

    <body>
 
	<section id="content" role="main">
		<div class="wrapper">
	<br><br>
			<h2>{{page.album-title}}</h2>


			<!-- Gallery __-->
			<div class="gallery masonry-gallery">
		
{% for image in page.images %}  		

				<figure class="gallery-item">
					<header class='gallery-icon'>

<a href="{{ image.image_path }}" class="popup" title="{{ image.caption }}" data-caption="{{ image.copyright }}">
<img src="{{ image.image_path }}"></a>
						
					</header>	
					<figcaption class='gallery-caption'>
						<div class="entry-summary">
							<h3>{{image.caption}}</h3>
							<p>{{image.copyright}}</p>
						</div>
					</figcaption>
				</figure>
				
{% endfor %}

			</div>

		</div><!-- END .wrapper -->
	</section>

<br>
<br>
{% include signoff.html %} 
<hr class="small">
{% if site.share %}{% include share.html %}{% endif %}
                        
{% if site.comments %}{% include disqus_comments.html %}{% endif %}
                        
<br>
<hr class="medium">
<br>
<br>

<!-- jQuery -->    

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- include image popups -->
<script src="{{ site.baseurl }}/js/jquery.magnific-popup.js"></script>
<script src="{{ site.baseurl }}/js/retina.min.js"></script>
<!-- include Masonry -->
<script src="{{ site.baseurl }}/js/isotope.pkgd.min.js"></script> 
<!-- include mousewheel plugins -->
<script src="{{ site.baseurl }}/js/jquery.mousewheel.min.js"></script>
<!-- include carousel plugins -->
<script src="{{ site.baseurl}}/js/jquery.tinycarousel.min.js"></script>
<!-- include svg line drawing plugin -->
<script src="{{ site.baseurl }}/js/jquery.lazylinepainter.min.js"></script>
<!-- include custom script -->
<script src="{{ site.baseurl }}/js/scripts.js"></script>
<!-- Modernizr -->
 <script src="{{ site.baseurl }}/js/modernizr.js"></script>

    <script type="text/javascript">
      $(document).ready(function($) {
        $('a.popup').magnificPopup({
          type: 'image',
	  gallery:{
         enabled:true,
         navigateByImgClick: true,
         preload: [0,1] // Will preload 0 - before current, and 1 after the current image
       },
      image: {
         titleSrc: function(item) {
              return item.el.attr('title') + '&nbsp;' + item.el.attr('data-caption');
            }
        }
          // other options
      });
});
    </script>

</body></html>
